@using TP04_Album_Sisro_Moguelevsky.Models

@{
    List<Jugadores> jugadores = ViewBag.Jugadores;
}
@{
    BD bd = new BD();
}
<main>

<h1>Album Digital</h1>

<section class="GrupoB">

    <div class="Bosnia">
        <h2>Bosnia y Herzegovina</h2>

        @foreach(Jugadores jugador in jugadores)
        {
            @if(jugador.idSeleccion == 1 && bd.ObtenerCantidad(jugador.idJugador) > 0)
            {
                <div class="figurita">
                    <img src="~/images/jugadores/@jugador.foto" />
                    <p>@jugador.nombre</p>
                    <p>Cantidad: @bd.ObtenerCantidad(jugador.idJugador)</p>
                </div>
            }

        }

    </div>

    <div class="Qatar">
        <h2>Qatar</h2>
        @foreach(Jugadores jugador in jugadores)
        {
            @if(jugador.idSeleccion == 2 && bd.ObtenerCantidad(jugador.idJugador) > 0)
            {
                <div class="figurita">
                    <img src="~/images/jugadores/@jugador.foto" />
                    <p>@jugador.nombre</p>
                    <p>Cantidad: @bd.ObtenerCantidad(jugador.idJugador)</p>
                </div>
            }
        }
    </div>

</section>

<section class="GrupoC">

<div class="Brasil">

<h2>Brasil</h2>

@foreach(Jugadores jugador in jugadores)
{
    @if(jugador.idSeleccion == 3 && bd.ObtenerCantidad(jugador.idJugador) > 0)
    {
        <div class="figurita">
            <img src="~/images/jugadores/@jugador.foto" />
            <p>@jugador.nombre</p>
            <p>Cantidad: @bd.ObtenerCantidad(jugador.idJugador)</p>
        </div>
    }

}

</div>

</section>

<section class="GrupoE">

<div class="Alemania">

<h2>Alemania</h2>

@foreach(Jugadores jugador in jugadores)
{
    @if(jugador.idSeleccion == 4 && bd.ObtenerCantidad(jugador.idJugador) > 0)
{
    <div class="figurita">
        <img src="~/images/jugadores/@jugador.foto" />
        <p>@jugador.nombre</p>
        <p>Cantidad: @bd.ObtenerCantidad(jugador.idJugador)</p>
    </div>
}

}

</div>

<div class="CostaDeMarfil">

<h2>Costa De Marfil</h2>

@foreach(Jugadores jugador in jugadores)
{
    @if(jugador.idSeleccion == 5 && bd.ObtenerCantidad(jugador.idJugador) > 0)
    {
        <div class="figurita">
            <img src="~/images/jugadores/@jugador.foto" />
            <p>@jugador.nombre</p>
            <p>Cantidad: @bd.ObtenerCantidad(jugador.idJugador)</p>
        </div>
    }

}

</div>

</section>

<section class="GrupoF">

<div class="Suecia">

<h2>Suecia</h2>

@foreach(Jugadores jugador in jugadores)
{
    @if(jugador.idSeleccion == 6 && bd.ObtenerCantidad(jugador.idJugador) > 0)
    {
        <div class="figurita">
            <img src="~/images/jugadores/@jugador.foto" />
            <p>@jugador.nombre</p>
            <p>Cantidad: @bd.ObtenerCantidad(jugador.idJugador)</p>
        </div>
    }

}

</div>

</section>

<section class="GrupoH">

<div class="España">

<h2>España</h2>

@foreach(Jugadores jugador in jugadores)
{
    @if(jugador.idSeleccion == 7 && bd.ObtenerCantidad(jugador.idJugador) > 0)
            {
                <div class="figurita">
                    <img src="~/images/jugadores/@jugador.foto" />
                    <p>@jugador.nombre</p>
                    <p>Cantidad: @bd.ObtenerCantidad(jugador.idJugador)</p>
                </div>
            }
}

</div>

<div class="CaboVerde">

<h2>Cabo Verde</h2>

@foreach(Jugadores jugador in jugadores)
{
    @if(jugador.idSeleccion == 8 && bd.ObtenerCantidad(jugador.idJugador) > 0)
            {
                <div class="figurita">
                    <img src="~/images/jugadores/@jugador.foto" />
                    <p>@jugador.nombre</p>
                    <p>Cantidad: @bd.ObtenerCantidad(jugador.idJugador)</p>
                </div>
            }
}

</div>

</section>

<section class="GrupoI">

<div class="Francia">

<h2>Francia</h2>

@foreach(Jugadores jugador in jugadores)
{
    @if(jugador.idSeleccion == 9 && bd.ObtenerCantidad(jugador.idJugador) > 0)
            {
                <div class="figurita">
                    <img src="~/images/jugadores/@jugador.foto" />
                    <p>@jugador.nombre</p>
                    <p>Cantidad: @bd.ObtenerCantidad(jugador.idJugador)</p>
                </div>
            }
}

</div>

<div class="Noruega">

<h2>Noruega</h2>

@foreach(Jugadores jugador in jugadores)
{
    @if(jugador.idSeleccion == 10 && bd.ObtenerCantidad(jugador.idJugador) > 0)
            {
                <div class="figurita">
                    <img src="~/images/jugadores/@jugador.foto" />
                    <p>@jugador.nombre</p>
                    <p>Cantidad: @bd.ObtenerCantidad(jugador.idJugador)</p>
                </div>
            }
}

</div>

</section>

<section class="GrupoJ">

<div class="Argentina">

<h2>Argentina</h2>

@foreach(Jugadores jugador in jugadores)
{
    @if(jugador.idSeleccion == 11 && bd.ObtenerCantidad(jugador.idJugador) > 0)
            {
                <div class="figurita">
                    <img src="~/images/jugadores/@jugador.foto" />
                    <p>@jugador.nombre</p>
                    <p>Cantidad: @bd.ObtenerCantidad(jugador.idJugador)</p>
                </div>
            }
}

</div>

<div class="Argelia">

<h2>Argelia</h2>

@foreach(Jugadores jugador in jugadores)
{
    @if(jugador.idSeleccion == 12 && bd.ObtenerCantidad(jugador.idJugador) > 0)
            {
                <div class="figurita">
                    <img src="~/images/jugadores/@jugador.foto" />
                    <p>@jugador.nombre</p>
                    <p>Cantidad: @bd.ObtenerCantidad(jugador.idJugador)</p>
                </div>
            }
}

</div>

</section>

<section class="GrupoK">

<div class="RDCongo">

<h2>República Democrática del Congo</h2>

@foreach(Jugadores jugador in jugadores)
{
    @if(jugador.idSeleccion == 13 && bd.ObtenerCantidad(jugador.idJugador) > 0)
            {
                <div class="figurita">
                    <img src="~/images/jugadores/@jugador.foto" />
                    <p>@jugador.nombre</p>
                    <p>Cantidad: @bd.ObtenerCantidad(jugador.idJugador)</p>
                </div>
            }
}

</div>

<div class="Uzbekistan">

<h2>Uzbekistan</h2>

@foreach(Jugadores jugador in jugadores)
{
    @if(jugador.idSeleccion == 14 && bd.ObtenerCantidad(jugador.idJugador) > 0)
            {
                <div class="figurita">
                    <img src="~/images/jugadores/@jugador.foto" />
                    <p>@jugador.nombre</p>
                    <p>Cantidad: @bd.ObtenerCantidad(jugador.idJugador)</p>
                </div>
            }
}

</div>

</section>

<section class="GrupoL">

<div class="Inglaterra">

<h2>Inglaterra</h2>

@foreach(Jugadores jugador in jugadores)
{
    @if(jugador.idSeleccion == 15 && bd.ObtenerCantidad(jugador.idJugador) > 0)
            {
                <div class="figurita">
                    <img src="~/images/jugadores/@jugador.foto" />
                    <p>@jugador.nombre</p>
                    <p>Cantidad: @bd.ObtenerCantidad(jugador.idJugador)</p>
                </div>
            }
}

</div>

</section>

</main>
