@{
    ViewData["Title"] = "Album";
}
<body>
    <main>
        <h1>Album digital</h1>
            <section class="GrupoB">
                <div class="Bosnia">
                    <h2>Bosnia y Herzegovina</h2>
                    @foreach(var jugador in Model.Where(j => j.IdSeleccion == 1))
                    {
                        <div class="figurita">
                            <img src="/images/jugadores/@Jugadores.foto" alt="@Jugadores.nombreCompleto">
                            <p>@Jugadores.nombreCompleto</p>
                        </div>
                    }
                </div>

                <div class="Qatar">
                    <h2>Qatar</h2>
                    @foreach(var jugador in Model.Where(j => j.IdSeleccion == 2))
                    {
                        <div class="figurita">
                            <img src="/images/jugadores/@Jugadores.foto" alt="@Jugadores.nombreCompleto">
                            <p>@Jugadores.nombreCompleto</p>
                        </div>
                    }
                </div>
            </section>

            <section class="GrupoC">
                <div class="Brasil">
                    <h2>Brasil</h2>
                    @foreach(var jugador in Model.Where(j => j.IdSeleccion == 3))
                    {
                        <div class="figurita">
                            <img src="/images/jugadores/@Jugadores.foto" alt="@Jugadores.nombreCompleto">
                            <p>@Jugadores.nombreCompleto</p>
                        </div>
                    }
                </div>
            </section>

            <section class="GrupoE">
                <div class="Alemania">
                    <h2>Alemania</h2>
                    @foreach(var jugador in Model.Where(j => j.IdSeleccion == 4))
                    {
                        <div class="figurita">
                            <img src="/images/jugadores/@Jugadores.foto" alt="@Jugadores.nombreCompleto">
                            <p>@Jugadores.nombreCompleto</p>
                        </div>
                    }
                </div>

                <div class="CostaDeMarfil">
                    <h2>Costa De Marfil</h2>
                    @foreach(var jugador in Model.Where(j => j.IdSeleccion == 5))
                    {
                        <div class="figurita">
                            <img src="/images/jugadores/@Jugadores.foto" alt="@Jugadores.nombreCompleto">
                            <p>@Jugadores.nombreCompleto</p>
                        </div>
                    }
                </div>
            </section>

            <section class="GrupoF">
                <div class="Suecia">
                    <h2>Suecia</h2>
                    @foreach(var jugador in Model.Where(j => j.IdSeleccion == 6))
                    {
                        <div class="figurita">
                            <img src="/images/jugadores/@Jugadores.foto" alt="@Jugadores.nombreCompleto">
                            <p>@Jugadores.nombreCompleto</p>
                        </div>
                    }
                </div>
            </section>

            <section class="GrupoH">
                <div class="España">
                    <h2>España</h2>
                    @foreach(var jugador in Model.Where(j => j.IdSeleccion == 7))
                    {
                        <div class="figurita">
                            <img src="/images/jugadores/@Jugadores.foto" alt="@Jugadores.nombreCompleto">
                            <p>@Jugadores.nombreCompleto</p>
                        </div>
                    }
                </div>

                <div class="CaboVerde">
                    <h2>Cabo Verde</h2>
                    @foreach(var jugador in Model.Where(j => j.IdSeleccion == 8))
                    {
                        <div class="figurita">
                            <img src="/images/jugadores/@Jugadores.foto" alt="@Jugadores.nombreCompleto">
                            <p>@Jugadores.nombreCompleto</p>
                        </div>
                    }
                </div>
            </section>

            <section class="GrupoI">
                <div class="Francia">
                    <h2>Francia</h2>
                    @foreach(var jugador in Model.Where(j => j.IdSeleccion == 9))
                    {
                        <div class="figurita">
                            <img src="/images/jugadores/@Jugadores.foto" alt="@Jugadores.nombreCompleto">
                            <p>@Jugadores.nombreCompleto</p>
                        </div>
                    }
                </div>

                <div class="Noruega">
                    <h2>Noruega</h2>
                    @foreach(var jugador in Model.Where(j => j.IdSeleccion == 10))
                    {
                        <div class="figurita">
                            <img src="/images/jugadores/@Jugadores.foto" alt="@Jugadores.nombreCompleto">
                            <p>@Jugadores.nombreCompleto</p>
                        </div>
                    }
                </div>
            </section>

            <section class="GrupoJ">
                <div class="Argentina">
                    <h2>Argentina</h2>
                    @foreach(var jugador in Model.Where(j => j.IdSeleccion == 11))
                    {
                        <div class="figurita">
                            <img src="/images/jugadores/@Jugadores.foto" alt="@Jugadores.nombreCompleto">
                            <p>@Jugadores.nombreCompleto</p>
                        </div>
                    }
                </div>

                <div class="Argelia">
                    <h2>Argelia</h2>
                    @foreach(var jugador in Model.Where(j => j.IdSeleccion == 12))
                    {
                        <div class="figurita">
                            <img src="/images/jugadores/@Jugadores.foto" alt="@Jugadores.nombreCompleto">
                            <p>@Jugadores.nombreCompleto</p>
                        </div>
                    }
                </div>
            </section>

            <section class="GrupoK">
                <div class="RDCongo">
                    <h2>República Democrática del Congo</h2>
                    @foreach(var jugador in Model.Where(j => j.IdSeleccion == 13))
                    {
                        <div class="figurita">
                            <img src="/images/jugadores/@Jugadores.foto" alt="@Jugadores.nombreCompleto">
                            <p>@Jugadores.nombreCompleto</p>
                        </div>
                    }
                </div>

                <div class="Uzbekistan">
                    <h2>Uzbekistan</h2>
                    @foreach(var jugador in Model.Where(j => j.IdSeleccion == 14))
                    {
                        <div class="figurita">
                            <img src="/images/jugadores/@Jugadores.foto" alt="@Jugadores.nombreCompleto">
                            <p>@Jugadores.nombreCompleto</p>
                        </div>
                    }
                </div>
            </section>

            <section class="GrupoL">
                <div class="Inglaterra">
                    <h2>Inglaterra</h2>
                    @foreach(var jugador in Model.Where(j => j.IdSeleccion == 15))
                    {
                        <div class="figurita">
                            <img src="/images/jugadores/@Jugadores.foto" alt="@Jugadores.nombreCompleto">
                            <p>@Jugadores.nombreCompleto</p>
                        </div>
                    }
                </div>
            </section>                       
    </main>
</body>
